#wt_twitter_newsticker {
	background: url(/typo3conf/ext/wt_twitter/Resources/Public/Icons/icon_twitter.gif) no-repeat 0 6px;
	border: 1px solid #4C1212;
	padding: 0 30px 0 0;
	margin: 0;
}

#wt_twitter_newsticker ul {
	list-style: none;
	min-height: 20px;
}

#wt_twitter_newsticker li.error {
	color: #FF0000;
}

#wt_twitter_newsticker #togglenewsticker {
	background: transparent url(/typo3conf/ext/wt_twitter/Resources/Public/Icons/icon_close.gif) no-repeat 0 0;
	overflow: hidden;
	position: absolute;
	width: 14px;
	height: 14px;
	text-indent: 20px;
	outline: none;
	margin: -51px 0 0 1px;
}

* html #wt_twitter_newsticker #togglenewsticker {
	right: 30px;
}