<div id="wt_twitter_newsticker">
	<f:flashMessages class="wt_twitter_errors" style="background-color: #FBB19B; padding: 5px 30px; font-weight: bold; border: 1px solid #DC4C42; margin-bottom: 20px; font-family: arial, verdana; color: #444; font-size: 12px;" />
	<ul class="wttwitter_feed" style="list-style-type: none;">
		<f:if condition="{0: settings.mode} == {0: 'showOwn'}">
			<f:then>
				<f:render partial="Tweets/Show" arguments="{tweets: tweets}" />
			</f:then>
		</f:if>
		<f:if condition="{0: settings.mode} == {0: 'showFromSearch'}">
			<f:then>
				<f:render partial="Tweets/Show" arguments="{tweets: tweets}" />
			</f:then>
		</f:if>
		<f:if condition="{0: settings.mode} == {0: 'showListsFrom'}">
			<f:then>
				<f:render partial="Lists/Show" arguments="{lists: tweets}" />
			</f:then>
		</f:if>
		<f:if condition="{0: settings.mode} == {0: 'showListsFor'}">
			<f:then>
				<f:render partial="Lists/Show" arguments="{lists: tweets}" />
			</f:then>
		</f:if>
	</ul>
</div>