<footer class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-9 hide-for-small columns">
				<div class="social-icons">
					<a title="Encuéntranos en Twitter" class="link twitter" target="_blank" href="http://twitter.com/voltearte"><i class="fi-social-twitter"></i></a>
					<f:cObject typoscriptObjectPath="lib.twitter" />
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="social-icons" style="text-align: right">
					<a title="Encuéntranos en Facebook" class="link" target="_blank" href="http://www.facebook.com/pages/Voltearte-Project/196326040456923?sk=info"><i class="fi-social-facebook"></i></a>
					<a title="Encuéntranos en Vimeo" class="link" target="_blank" href="http://vimeo.com/user9758709"><i class="fi-social-vimeo"></i></a>
				</div>
				<h6 class="subheader hide-for-small" style="text-align: right">
					<small>© Copyright 2014 | Diseño por <f:link.email email="instruccionesaldorso@gmail.com" target="_blank" title="Pulsa aquí para enviar un correo">Sergio Catalá</f:link.email></small>
				</h6>
			</div>
		</div>
	</div>
</footer>