<div class="sticky">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1>
					<f:cObject typoscriptObjectPath="lib.tagline"/>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<f:cObject typoscriptObjectPath="lib.menu"/>
			</ul>
		</section>
	</nav>
</div>

<div class="row">
	<div class="small-3 columns">
		<div id="logo">
			<f:cObject typoscriptObjectPath="lib.logo"/>
		</div>
	</div>
	<div class="small-9 columns">
		<!--<f:cObject typoscriptObjectPath="lib.slider" />
		<ul data-orbit data-options="variable_height: false; slide_number: false;animation: fade;">
			<li>
				<f:link.page pageUid="10">
					<img src="http://placehold.it/1200x300&text=Imagen 1" alt="slide image" />
				</f:link.page>
			</li>
			<li>
				<f:link.page pageUid="11">
					<img src="http://placehold.it/1200x300&text=Imagen 2" alt="slide image" />
				</f:link.page>
			</li>
			<li>
				<f:link.page pageUid="10">
					<img src="http://placehold.it/1200x300&text=Imagen 3" alt="slide image" />
				</f:link.page>
			</li>
		</ul>-->
	</div>
</div>
