<f:if condition="{settings.detail.media.image.lightbox}">
	<f:then>
		<li class="small-centered large-centered">
			<a rel="{settings.detail.media.image.lightbox}" class="th radius lightbox" title="{mediaElement.caption}" href="{f:uri.image(src:'uploads/tx_news/{mediaElement.content}' maxWidth:'800')}">
				<f:image src="uploads/tx_news/{mediaElement.content}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.detail.media.image.maxWidth}" maxHeight="{settings.detail.media.image.maxHeight}" />
			</a>
		</li>
	</f:then>
	<f:else>
		<li class="small-centered large-centered">
			<f:image src="uploads/tx_news/{mediaElement.content}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.detail.media.image.maxWidth}" maxHeight="{settings.detail.media.image.maxHeight}" />
		</li>
	</f:else>
</f:if>
<f:if condition="{mediaElement.caption}">
	<p class="news-img-caption">
		{mediaElement.caption}
	</p>
</f:if>