<f:layout name="DefaultLayout" />

<f:section name="content">
	<div class="row show-for-large-up">
		<div class="large-3 columns">
			<div class="panel radius">
				<f:link.page pageUid="13" class="th">
					<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/angel-home.png" width="400c" height="300c" />
				</f:link.page>
			</div>
			<div class="panel">
				<h4>
					<f:link.page pageUid="13">
						Ángel Sánchez
					</f:link.page>
				</h4>
				<blockquote>Ángel Sánchez ha combinado su vida deportiva con su faceta artística del circo. Desde su niñez entrenó el deporte de la gimnasia artística lo que le permitió obtener una beca para formar parte del equipo nacional junior en su...</blockquote>
				<f:link.page pageUid="13">Leer más</f:link.page>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="panel radius">
				<f:link.page pageUid="10" class="th">
					<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/raquel-home.jpg" width="400c" height="300c" />
				</f:link.page>
			</div>
			<div class="panel radius">
				<h4>
					<f:link.page pageUid="10">
						Raquel Carpio
					</f:link.page>
				</h4>
				<blockquote>Esta licenciada en Ciencias de la Actividad Física y el Deporte siempre ha estado vinculada a las acrobacias. De niña con la gimnasia artística, posteriormente con la gimnasia acrobática y en la actualidad como especialista de...</blockquote>
				<f:link.page pageUid="10">Leer más</f:link.page>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="panel radius">
				<f:link.page pageUid="11" class="th">
					<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/sergio-home.jpg" width="400c" height="300c" />
				</f:link.page>
			</div>
			<div class="panel radius">
				<h4>
					<f:link.page pageUid="11">
						Sergio Pla
					</f:link.page>
				</h4>
				<blockquote>Sergio Pla, nacido en Valencia en 1986, es un artista de circo que reside actualmente en Barcelona. Diplomado en Magisterio de Educación Física por la Universidad de Valencia. Tras su graduación en 2009 en la Escuela Superior de Circo...</blockquote>
				<f:link.page pageUid="11">Leer más</f:link.page>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="panel radius">
				<f:link.page pageUid="12" class="th">
					<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/vicky-home.jpg" width="400c" height="300c" />
				</f:link.page>
			</div>
			<div class="panel">
				<h4>
					<f:link.page pageUid="12">
						Vicky Terrádez
					</f:link.page>
				</h4>
				<blockquote>Vicky Terrádez empezó a hacer volteretas cuando tenía siete años y desde entonces le ha fascinado el mundo de la gimnasia y el espectáculo y, a lo largo de los años, ha ido formándose como artista. Comenzó por la Gimnasia...</blockquote>
				<f:link.page pageUid="12">Leer más</f:link.page>
			</div>
		</div>
	</div>
	<div class="row show-for-small-only">
		<div class="small-6 columns">
			<f:link.page pageUid="13" class="th">
				<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/angel-home.png" width="400c" height="300c" />
			</f:link.page>
			<br /><br />
		</div>
		<div class="small-6 columns">
			<f:link.page pageUid="10" class="th">
				<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/raquel-home.jpg" width="400c" height="300c" />
			</f:link.page>
			<br /><br />
		</div>
	</div>
	<div class="row show-for-small-only">
		<div class="small-6 columns">
			<f:link.page pageUid="11" class="th">
				<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/sergio-home.jpg" width="400c" height="300c" />
			</f:link.page>
			<br /><br />
		</div>
		<div class="small-6 columns">
			<f:link.page pageUid="12" class="th">
				<f:image src="typo3conf/ext/tmpl_voltearte/Resources/Public/Images/vicky-home.jpg" width="400c" height="300c" />
			</f:link.page>
			<br /><br />
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="panel radius">
				<h4>
					Contacta con nosotros
				</h4>
				<div class="row">
					<div class="large-9 columns">
						<p>Nos encantaría escuchar tu opinión.</p>
					</div>
					<div class="large-3 columns">
						<f:link.page pageUid="7" class="radius button right">
							Contacta
						</f:link.page>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>